<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Peça um Orçamento!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Estamos preparados para atender o seu condomínio com toda a experiência de uma empresa com 20 anos de mercado!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>(81) 99971-0711</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:datafone@datafone.com.br">datafone@hotlink.com.br</a>
            </div>
        </div>
    </div>
</section>